/* Zelk 0.2 */

/* background */
.tabBody-3YRQ8W, .chat-3bRxxu, .container-3w7J-x, .container-lRFx4q, .privateChannels-1nO12o, .homeWrapperNormal-2KSUEa {
  background-color: var(--background-tertiary);
}
.peopleColumn-29fq28, .chatContent-a9vAAp, .pageWrapper-1PgVDX, .scroller-9moviB, .stageSection-3mAD8V {
  border-radius: 10px;
  margin-left: 10px;
  background-color: var(--background-primary) !important;
}
.scroller-RmtA4e {
  background-color: var(--background-primary);
}
.container-2lgZY8 {
  margin-bottom: 10px;
}
.scroller-9moviB {
  margin-right: 10px;
}
/* top bar icons */
.container-1r6BKw.themed-ANHk51, .container-1taM1r {
  background-color: var(--background-tertiary);
}
.toolbar-1t6TWx .icon-22AiRD {
  width: 22px;
  height: 22px;
}
.theme-dark .toolbar-1t6TWx .icon-22AiRD {
  color: var(--accent-color) !important;
}
.theme-light .toolbar-1t6TWx .icon-22AiRD {
  color: var(--text-normal) !important;
}
.theme-dark .toolbar-1t6TWx .icon-3cZ1F_ {
  color: var(--accent-color);
}
.theme-light .toolbar-1t6TWx .icon-3cZ1F_ {
  color: var(--text-normal);
}
.toolbar-1t6TWx .iconContainer-O4O2CN {
  width: 20px;
  height: 20px;
}
/* credits to Nyria#3863 */
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.25s;
}
.toolbar-1t6TWx .clickable-3rdHwn {
  padding: 7px 7px 29px 7px;
  background-color: var(--button-background);
  margin: 1px;
}
.search-36MZv-:not(.open-6_Y_aH) {
  padding: 6px 4.5px 6px 4.5px;
  background-color: var(--button-background);
  margin: 1px 8px 1px 1px;
  order: -1;
  border-radius: 10px;
}
.searchBar-3dMhjb, .search-2oPWTC {
  background-color: var(--button-background);
}
.toolbar-1t6TWx>:first-child:not(.inviteToolbar-3F-l2g) {
  border-radius: 10px 0px 0px 10px;
}
.inviteToolbar-3F-l2g>div {
  padding: 7px 7px 29px 10px !important;
  border-radius: 10px 0px 0px 10px;
}
.toolbar-1t6TWx>:last-child>div {
  border-radius: 0px 10px 10px 0px;
}
/* red things */
.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS, .pruneLink-3V7wes, .side-8zPYf6 .item-PXvHYJ[aria-controls='logout-tab'], .lookLink-9FtZy-.colorRed-1TFJan {
  color: var(--button-destructive) !important;
}
.colorDanger-2qLCe1:hover, .colorDanger-2qLCe1 .checkbox-3s5GYZ:hover, .colorDanger-2qLCe1 .radioSelection-1HmrQS:hover, .item-PXvHYJ[aria-controls='logout-tab']:hover {
  color: var(--button-destructive-hover) !important;
}
.colorDanger-2qLCe1:active:not(.hideInteraction-liH010), .colorDanger-2qLCe1 .checkbox-3s5GYZ:active, .colorDanger-2qLCe1 .radioSelection-1HmrQS:active, .item-PXvHYJ[aria-controls='logout-tab']:active {
  color: var(--button-destructive-active) !important;
}
.descriptionSection-3RrpaD>div>svg>path {
  fill: var(--button-destructive);
}
.item-PXvHYJ[aria-controls='logout-tab'] {
  background-color: transparent !important;
}
/* status area*/
.layer-v9HyYc .popout_164 {
  left: 82px !important;
  bottom: 63px !important;
}
.powercord-spotify .container-3baos1 .avatarWrapper-2yR4wp {
  margin-left: 2px;
}
.wrapper-24pKcD {
  margin: 0px 2px;
}
.menu-3sdvDG[id='status-picker'] {
  margin-left: 2px;
}
.nowPlayingColumn-2sl4cE, .container-1D34oG {
  background-color: var(--background-tertiary);
}
/* buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorGrey-2DXtkV, .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--button-background) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover, .lookFilled-1Gx00P.colorGrey-2DXtkV:hover, .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
  background-color: var(--button-background-hover) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active. .lookFilled-1Gx00P.colorGrey-2DXtkV:active, .lookFilled-1Gx00P.colorPrimary-3b3xI6:active {
  background-color: var(--button-background-active) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY, .topPill-30KHOu .item-PXvHYJ[aria-label='Add Friend'] {
  background-color: var(--button-accent) !important;
  color: var(--interactive-selected) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--button-accent-hover);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
  background-color: var(--button-accent-active);
}
.lookFilled-1Gx00P.colorRed-1TFJan, .bd-button.bd-button-danger {
  background-color: var(--button-destructive);
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
  border-color: var(--button-destructive);
  background-color: #FB7C7C38;
}
.theme-dark .lookOutlined-3sRXeN.colorRed-1TFJan {
  color: #fff;
}
.theme-light .lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--text-normal);
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover, .lookOutlined-3sRXeN.colorRed-1TFJan:hover, .bd-button.bd-button-danger:hover {
  background-color: var(--button-destructive-hover);
}
.lookFilled-1Gx00P.colorRed-1TFJan:active, .lookOutlined-3sRXeN.colorRed-1TFJan:active, .bd-button.bd-button-danger:active {
  background-color: var(--button-destructive-active);
}
.theme-light .lookOutlined-3sRXeN.colorRed-1TFJan:active, .theme-light .lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  color: var(--background-secondary);
}
.button-38aScr {
  border-radius: 8px;
}
/* bd buttons */
.bd-button, .bd-view-button {
  border-radius: 8px;
}
.bd-addon-button>svg, .bd-view-button.selected>svg {
  fill: var(--interactive-selected) !important;
}
.bd-controls>.bd-addon-button:first-of-type {
  border-radius: 8px 0px 0px 8px;
}
.bd-controls>.bd-addon-button:last-of-type {
  border-radius: 0px 8px 8px 0px;
}
.bd-addon-views .bd-view-button.selected {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
}
.bd-button {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
}
.bd-button:hover {
  background-color: var(--button-accent-hover);
}
.bd-button:active {
  background-color: var(--button-accent-active);
}
/* checkboxes */
.checkboxElement-1qV33p:checked+span, .checked-3_4uQ9 .checkbox-1ix_J3 {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}
.checkbox-1ix_J3 {
  background-color: var(--switch);
  border: none;
}
.checkboxElement-1qV33p:checked+span::after {
  border-color: var(--interactive-selected) !important;
}
.checked-3_4uQ9 .checkbox-1ix_J3>svg>path {
  fill: var(--interactive-selected);
}
/* explore tab */
.categoryItem-1QIroW {
  margin-right: 8px;
}
.card-3DjzTQ {
  background-color: var(--background-tertiary) !important;
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--background-modifier-selected) !important;
}
/* spotify */
.button-14-BFJ.enabled-2cQ-u7:hover .contents-18-Yxp>svg {
  color: var(--interactive-selected) !important;
}
/* settings */
.sidebarRegionScroller-3MXcoP, .titleContainer-2CXtJo, .header-2mZ9Ov, .contentRegion-3nDuYy, .contentRegionScroller-26nc1e, .scroller-305q3I {
  background-color: var(--background-tertiary);
}
.sidebar-CFHs9e {
  width: 290px;
  padding-right: 40px;
  padding-left: 40px;
}
.sidebarRegion-VFTUkN {
  border-right: 1px solid var(--border-color);
}
.side-8zPYf6 .item-PXvHYJ {
  border-radius: 8px;
}
.sidebarRegion-VFTUkN {
  flex: 0 0 auto;
}
.contentColumn-2hrIYH, .customColumn-Rb6toI {
  max-width: unset;
}
.radioBar-bMNUI- {
  border-left: transparent;
}
.userSettingsSecurity-3IYeMF .lockIcon-2Hj8Tq, .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.theme-dark {
  --settings-logout: var(--button-destructive);
  --settings-guild-delete: var(--button-destructive);
}
.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(48), .layers-3iHuyZ.layers-3q14ss>div:nth-child(2)>div>div>div.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(21) {
  color: var(--button-destructive) !important;
}
.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(48):hover, .layers-3iHuyZ.layers-3q14ss>div:nth-child(2)>div>div>div.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(21):hover {
  color: var(--button-destructive-hover) !important;
  background-color: var(--background-modifier-hover) !important;
}
.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(48):hover::before, .layers-3iHuyZ.layers-3q14ss>div:nth-child(2)>div>div>div.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(21):hover::before {
  --settings-icon-color: var(--button-destructive-hover);
}
.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(48):active, .layers-3iHuyZ.layers-3q14ss>div:nth-child(2)>div>div>div.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(21):active {
  color: var(--button-destructive-active) !important;
  background-color: var(--background-modifier-active) !important;
}
.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(48):active::before, .layers-3iHuyZ.layers-3q14ss>div:nth-child(2)>div>div>div.sidebarRegion-VFTUkN>div>nav>div>div:nth-child(21):active::before {
  --settings-icon-color: var(--button-destructive-active);
}
.powercord-product, .container-cMG81i, .attendeeCTA-3ZZQWt, .input-cIJ7To, .item-26Dhrx, .powercord-entities-manage-tabs, .powercord-account, .activeGame-14JI7o, .formNotice-2_hHWR, .css-118dehu-control, .previewContainer-37c2Si, .auditLog-3jNbM6, .background-1QDuV2, .roleRow-30TwGe, .bd-addon-card, .membershipDialogHouse2-35h9SY, .codeRedemptionRedirect-1wVR4b, .card-o7rAq-, .enableContainer-2DIT9Q, .accountList-33MS45, .container-_phMUq {
  border-radius: 10px !important;
}
.avatarUploaderInner-3UNxY3, .codeRedemptionRedirect-1wVR4b, .auditLog-3jNbM6, .card-o7rAq-, .activeGame-14JI7o {
  background-color: var(--background-secondary) !important;
}
.item-26Dhrx[aria-checked=true] {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-selected);
}
.background-1QDuV2 .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--text-normal);
}
.container-2_Tvc_ {
  display: none;
}
/* sliders */
.barFill-23-gu- {
  background: var(--background-modifier-selected);
}
.bar-2Qqk5Z {
  background: var(--background-accent) !important;
}
.grabber-3mFHz2 {
  width: 24px;
  border-radius: 50px;
  border: 2.5px solid;
  margin-left: -11px;
  background-color: var(--background-primary);
  border-color: var(--background-modifier-selected);
}
/* switches */
.container-3auIfb:not([style*="125"]), .bd-switch-checked .bd-switch-body {
  background-color: var(--background-modifier-selected) !important;
}
.container-3auIfb, .bd-switch-body {
  background-color: var(--switch) !important;
}
svg.slider-TkfMQL svg, .bd-switch-slider>svg {
  display: none;
}
.container-3auIfb>svg>rect, .bd-switch-handle {
  fill: var(--interactive-selected);
}
/* menus */
.menu-3sdvDG, .quickSelectPopout-X1hvgV, .bd-select-options {
  border-radius: 10px !important;
  border: 1px solid !important;
  border-color: var(--border-color) !important;
}
.labelContainer-1BLJti, .item-1tOPte {
  margin-right: 8px;
  border-radius: 8px;
}
.button-1ZiXG9.selected-LCBEAU>svg {
  color: var(--interactive-selected);
}
.quickSelectPopoutOption-opKBx9, .bd-select .bd-select-option {
  margin: 8px;
  border-radius: 8px;
}
.colorBrand-ROmMP1 {
  color: var(--interactive-normal);
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
.icon-LYJorE {
  color: var(--accent-color);
}
.colorDefault-2K3EoJ:active {
  background-color: var(--background-modifier-active) !important;
}
.theme-light .colorDefault-2K3EoJ:active {
  color: var(--text-normal);
}
/* call */
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.red-33-Lnk, .centerButton-3CaNcJ {
  border-radius: 50px;
}
.wrapper-2qzCYF.minimum-28Z35l, .body-3ND3kc {
  background-color: var(--background-tertiary);
}
/* voice */
.container-2x5lvQ section {
  border-radius: 10px;
  background-color: var(--background-tertiary) !important;
  border: 1px solid var(--border-color);
}
.container-2x5lvQ .header-2C89wJ {
  display: none;
}
.activityPanel-28dQGo {
  margin-left: 2px;
}
.list-2luk8a .content-1Wq3SX {
  margin-right: 10px;
  border-radius: 8px;
}
/* video/stream */
.button-38aScr>div>svg {
  color: var(--settings-icon-color);
}
.colorable-1bkp8v.primaryDark-3mSFDl {
  background: var(--button-background);
}
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
  background: var(--button-background-hover);
}
/* mentions */
.wrapper-3WhCwL {
  background: #BDE6FB30 !important;
  color: var(--accent-color);
}
/* profiles | thanks to mackenzie#0173 */
.note-QfFU8y textarea {
  display: none;
}
.userInfoSectionHeader-CBvMDh, .setIdentityLink-OpBDR6, .bodyTitle-Y0qMQz, .note-3HfJZ5, .footer-1fjuF6 {
  display: none;
}
.userInfoSection-2acyCx {
  margin-top: -21px;
}
.body-3ND3kc {
  height: calc(100% - 167px);
}
.listRow-hutiT_ {
  margin-right: 8px;
  border-radius: 10px;
}
.actionButtons-14eAc_ .button-1YfofB {
  border-right: 2px;
}
.body-3iLsc4, .headerFill-adLl4x, .topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P, .profileBanner-33-uE1, .avatar-22FtUu, .headerTop-2y3V6H, .headerTop-2cWpdB {
  background-color: var(--background-tertiary) !important;
}
.lookInverted-2D7oAl .contents-18-Yxp {
  color: var(--interactive-selected);
}
.avatar-22FtUu {
  border: none;
}
.avatarHint-1E3LMl {
  top: 0;
  left: 0;
}
.userPopout-3XzG_A {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
/* better roles | thanks to Bowser65#1337 */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}
/* esc button */
.keybind-KpFkfr {
  display: none;
}
.closeButton-1tv5uR {
  border-color: transparent !important;
}
.closeButton-1tv5uR>svg>path {
  fill: var(--accent-color);
}
.selected-aXhQR6 .layout-2DM8Md {
  background-color: var(--background-modifier-selected);
}
/* tab bar */
.topPill-30KHOu {
  height: 38px;
  border-radius: 8px;
}
.modal-3c3bKg .top-28JiJ- .item-PXvHYJ, .repoHeader-2KfNvH .top-28JiJ- .item-PXvHYJ {
  border-radius: 8px;
  padding: 0 25px 0 25px;
  height: 30px;
  border: 0;
}
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ {
  border-radius: 8px;
  margin-top: 4px;
  height: 30px;
}
.powercord-entities-manage-tabs .topPill-30KHOu .item-PXvHYJ {
  border-radius: 8px;
  height: 30px;
  padding-top: 5px;
}
.contentWidth-xLB44s .top-28JiJ- .item-PXvHYJ {
  border-radius: 8px;
  padding: 5px 25px 0 25px;
  height: 30px;
  border: 0;
}
.top-28JiJ- .brand-1Zl8en.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--accent-color);
  color: var(--interactive-selected);
}
.theme-dark .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .top-28JiJ- .item-PXvHYJ[aria-selected="true"] {
  background-color: var(--tab-selected) !important;
  color: var(--text-normal);
}
.theme-light .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-light .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ>div:not(.horizontal-1ae9ci) {
  color: var(--interactive-selected);
  background-color: var(--background-modifier-selected);
}
.theme-light .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
  color: var(--interactive-selected);
  background-color: var(--background-modifier-selected);
}
.theme-light .item-PXvHYJ:active {
  color: var(--text-normal);
}
.top-28JiJ- .item-PXvHYJ {
  border: none;
}
/* drop downs */
.select-2TCrqx, .bd-select, .css-x3hllb-control {
  border-radius: 10px;
  background-color: var(--background-secondary);
}
/* dividers */
.divider-JfaTT5, .peopleListItem-2nzedh {
  border-top: thin solid var(--border-color);
}
.tabBarContainer-1s1u-z {
  border-top: transparent;
}
.tabBody-3YRQ8W::before, .divider-3FBTu8, .content-yTz4x3:before {
  display: none;
}
.searchBar-6Kv8R2, .header-2V-4Sw, .headerBarContainer-31FKNA {
  box-shadow: none;
}
.separator-2I32lJ {
  border-bottom: thin solid transparent;
}
.guildSeparator-33mFX6 {
  background-color: transparent;
}
.children-19S4PO:after {
  background: transparent !important;
}
/* server list */
.circleIconButton-1QV--U {
  color: var(--accent-color);
  background-color: var(--background-primary);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--interactive-selected);
  background-color: var(--accent-color);
}
/* chat */
.embed-IeVjo6 {
  border-left: 4px solid var(--accent-color) !important;
}
.reaction-1hd86g.reactionMe-wv5HKu {
  border-color: var(--background-modifier-selected);
  background-color: var(--background-primary);
}
.replying-1x3H0T:before {
  background-color: var(--accent-color);
}
.sansAttachButton-td2irx {
  padding-right: 16px;
}
.form-2fGMdU {
  padding: 0 24px 0 24px;
}
.markup-2BOw-j code {
  background-color: var(--background-tertiary);
  border-radius: 8px;
}
/* channel list */
.sidebar-2K8pFh {
  border-radius: 10px;
}
.wrapper-2jXpOf {
  margin-right: 10px;
}
.containerDefault-3tr_sE {
  padding: 10px 2px 0 10px;
}
.header-2V-4Sw {
  border-radius: 0 0 10px 10px;
}
.modeSelected-346R90 .name-23GUGE, .modeSelected-346R90 .content-1x5b-n:hover .name-23GUGE, .modeSelected-346R90 .actionIcon-PgcMM2 {
  color: var(--interactive-selected);
}
.animatedContainer-1NSq4T {
  z-index: 2;
}
/* search */
.searchResultsWrap-3-pOjs .scroller-3GIiMh, .react-datepicker, .react-datepicker__header {
  background-color: var(--background-tertiary) !important;
}
.react-datepicker__day:first-of-type {
  border-radius: 8px 0 0 8px !important;
}
.react-datepicker__day--fri {
  border-radius: 0 8px 8px 0;
}
.react-datepicker__day:last-of-type, .option-96V44q {
  border-radius: 8px !important;
}
.react-datepicker__day {
  background-color: var(--background-secondary) !important;
}
.react-datepicker__day--selected:after {
  background-color: var(--accent-color) !important;
}
.datePickerHint-3Q1Udw .hintValue-29ny8Z {
  background-color: var(--accent-color) !important;
  color: var(--interactive-selected) !important;
}
.focused-2bY0OD.queryContainer-RKFJW- {
  background-color: var(--background-modifier-hover);
}
.queryContainer-RKFJW- {
  margin: 10px;
  border-radius: 8px;
}
.container-3ayLPN {
  background-color: var(--background-tertiary) !important;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.option-96V44q:after {
  display: none;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: var(--background-modifier-hover);
}
/* member list */
.content-1x5b-n, .layout-2DM8Md {
  border-radius: 8px;
}
.members-1998pB, .members-1998pB>div {
  background-color: var(--background-tertiary);
}
.scroller-RmtA4e {
  border-radius: 10px 10px 0 0;
}
.selected-aXhQR6 .roleColor-rz2vM0 {
  color: var(--interactive-selected) !important;
}
.botTagRegular-2HEhHi {
  background-color: var(--accent-color);
  color: var(--interactive-selected);
}
/* some popouts */
.popout-VcNcHB {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.option-3KoAJB {
  border-radius: 10px;
  margin: 8px;
}
.sourceThumbnail-27dolk.selected-1nOkyc, .tile-2w4k5N:hover .sourceThumbnail-27dolk {
  box-shadow: inset 0 0 0 2px var(--accent-color);
}
.item-3T2z1R:first-child {
  border-radius: 8px 0 0 8px;
}
.item-3T2z1R:last-child {
  border-radius: 0px 8px 8px 0px;
}
.selectorButtonSelected-t5V9On {
  background-color: var(--background-modifier-selected);
}
.selectorTextSelected-1ymya_ {
  color: var(--interactive-selected);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: var(--background-modifier-hover);
}
.root-1gCeng, .footer-2gL1pp, .root-1gCeng .avatarUploaderInner-KkYu-S {
  background-color: var(--background-tertiary) !important;
}
.addMemberRow-3-w-9X.selectedRow-1QP7qb {
  background-color: var(--background-modifier-active);
}
/* home */
.scroller-1JbKMe {
  border-radius: 10px 10px 0 0;
}
.emptyCard-1RJw8n {
  border-radius: 10px;
}
.selected-aXhQR6.container-2Pjhx- {
  color: var(--interactive-selected);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--accent-color);
  color: var(--background-primary);
}
.childWrapper-anI2G9 {
  color: var(--accent-color);
}
/* boost server */
.perksModalContentWrapper-2HU6uL {
  background-color: var(--background-tertiary);
}
.ctaBar-2UsjF2 {
  border-radius: 10px;
  background-image: none !important;
}
.perk-2WeBWW, .tier-12tKuZ>div {
  background-color: var(--background-accent) !important;
}
.tierHeader---JJFb {
  border-radius: 10px 10px 0 0;
}
.tierBody-16Chc9 {
  border-radius: 0 0 10px 10px;
}
.tierMarkerLabelPlusIcon-1OS7E9 {
  color: var(--accent-color);
}
/* everything else */
::-webkit-scrollbar {
  display: none;
}
.item-26Dhrx[aria-checked=true] .colorStandard-2KCXvj, .resultFocused-3aIoYe .match-38WbBN, .resultFocused-3aIoYe .iconContainer-3UxHn2>svg {
  color: var(--interactive-selected);
}
.inputWrapper-31_8H8, .copyInputDefault-21sXtF, .input-2VB9rf, .inputMini-2xQV9P, .select-2fjwPw, .card-2Mz_4z {
  background-color: var(--background-secondary) !important;
  border-radius: 10px;
}
.emojiAliasInput-1y-NBz {
  background-color: transparent !important;
}
.searchBox-3Y2Vi7 {
  background-color: var(--background-secondary) !important;
}
.wrapper-3D2qGf {
  border-radius: 10px;
}
.root-1gCeng {
  border-radius: 10px;
}
.colorPickerCustom-2CWBn2 {
  background: var(--background-tertiary) !important;
  border-color: var(--border-color) !important;
  padding: 10px;
  border-radius: 10px;
}
/* plugin/theme repo */
.card-x5zW6z {
  border-radius: 10px;
}
.button-coQXfM {
  background-color: var(--button-accent) !important;
  color: var(--interactive-selected);
}
