/* imports */

/* credits to Leeprky#2063 */
@import url(https://raw.githack.com/leeprky/FullyThemedDiscord/main/FullyThemedDiscord.theme.css);
@import url(https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/LightModeWarning.css);

.theme-dark {
 /* bg colours */
--background-primary: #131719;
--background-primary-alt: #131719;
--background-secondary: #131719;
--background-secondary-alt: #131719;
--background-tertiary: #191F22;
--background-accent: #323D42;
--background-accent-gradient: #191F22;
--background-floating: #191F22;

 /* hover colours */
--background-modifier-hover: rgba(56, 168, 151, 0.459);
--background-modifier-active: rgba(56, 168, 151, 0.521);
--background-modifier-selected: rgba(56, 168, 151, 0.178);
--background-modifier-accent: rgba(56, 168, 151, 0.418);
--background-message-hover: transparent;
}

/* round */

