/* Blue */
.theme-dark {
  --accent-color: #bde6fb !important;
  --background-1: #131719 !important;
  --background-2: #191f22 !important;
  --background-accent: #252e32 !important;
  --border-color: #1e262a !important;
  --background-mentioned: #bde6fb10 !important;
  --background-mentioned-hover: #bde6fb15 !important;
  --background-modifier-hover: #21292c !important;
  --background-modifier-active: #2b3437 !important;
  --text-normal: var(--accent-color) !important;
  --text-muted: #6d8692 !important;
  --text-link: #edf8fe !important;
  --interactive-active: #c1e7fd !important;
  --settings-icon-color: #8caaba !important;
  --radio-bar-accent-color: transparent !important;
  --tab-selected: #323d42 !important;
  --switch: #3d4c53 !important;
  --button-background: #252e32 !important;
  --button-background-hover: #323d42 !important;
  --button-background-active: #4a5b63 !important;
  --button-accent-hover: #d6f1fd !important;
  --button-accent-active: #95d2f0 !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b!important;
  --button-destructive-active: #fa4a4a !important;
}
.theme-light {
  --accent-color: #22c5fd !important;
  --background-1: #e4e8ee !important;
  --background-2: #f5f7fa !important;
  --background-accent: var(--background-1) !important;
  --border-color: transparent !important;
  --background-mentioned: #22c5fd10 !important;
  --background-mentioned-hover: #22c5fd15 !important;
  --background-modifier-hover: transparent !important;
  --background-modifier-active: #b7c2cc !important;
  --text-normal: #123354 !important;
  --text-muted: #8495a7 !important;
  --text-link: #15a6f0 !important;
  --interactive-active: var(--text-normal) !important;
  --settings-icon-color: #566e86 !important;
  --radio-bar-accent-color: transparent !important;
  --tab-selected: #c5cfd7 !important;
  --switch: #c8d0d9 !important;
  --button-background: transparent !important;
  --button-background-hover: #d3dae1 !important;
  --button-background-active: #c8d0d9 !important;
  --button-accent-hover: #d6f1fd !important;
  --button-accent-active: #95d2f0 !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
}
:root {
  --background-primary: var(--background-1) !important;
  --background-primary-alt: var(--background-1) !important;
  --background-secondary: var(--background-1) !important;
  --background-secondary-alt: var(--background-1) !important;
  --background-tertiary: var(--background-2) !important;
  --background-accent-gradient: var(--background-2) !important;
  --background-floating: var(--background-1) !important;
  --background-modifier-selected: var(--accent-color) !important;
  --text-positive: var(--text-normal) !important;
  --interactive-selected: var(--background-primary) !important;
  --background-modifier-accent: transparent !important;
  --background-message-hover: transparent !important;
  --interactive-normal: var(--text-normal) !important;
  --interactive-muted: var(--text-muted) !important;
  --channels-default: var(--text-normal) !important;
  --header-primary: var(--text-normal) !important;
  --header-secondary: var(--text-muted) !important;
  --control-brand-foreground: var(--accent-color) !important;
  --info-warning-foreground: var(--accent-color) !important;
  --channeltextarea-background: var(--background-tertiary) !important;
  --activity-card-background: var(--background-1) !important;
  --brand-experiment: var(--accent-color) !important !important;
  --deprecated-text-input-bg: var(--background-secondary) !important;
  --button-accent: var(--accent-color) !important;
}
