/* Green */
.theme-dark {
  --accent-color: #bbf1dd;
  --background-1: #151c19;
  --background-2: #1b2421;
  --background-accent: #1e2529;
  --border-color: #242f2b;
  --background-mentioned: #bbf1dd10;
  --background-mentioned-hover: #bbf1dd15;
  --background-modifier-hover: #232e2a;
  --background-modifier-active: #475d55;
  --text-normal: var(--accent-color);
  --text-muted: #6b8a7f;
  --text-link: #e6faf2;
  --interactive-active: #c1e7fd;
  --settings-icon-color: #8bb4a5;
  --radio-bar-accent-color: transparent;
  --tab-selected: #33433d;
  --switch: #3b4d46;
  --button-background: #27332f;
  --button-background-hover: #33433d;
  --button-background-active: #4b6159;
  --button-accent-hover: #cef8e5;
  --button-accent-active: #91e8c8;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}
.theme-light {
  --accent-color: #2ae18e;
  --background-1: #e5eceb;
  --background-2: #f6f9f9;
  --background-accent: var(--background-1);
  --border-color: transparent;
  --background-mentioned: #2ae18e10;
  --background-mentioned-hover: #2ae18e15;
  --background-modifier-hover: transparent;
  --background-modifier-active: #d5dedd;
  --text-normal: #19483E;
  --text-muted: #88a19c;
  --text-link: #219e6f;
  --interactive-active: var(--text-normal);
  --settings-icon-color: #5a7c76;
  --radio-bar-accent-color: transparent;
  --tab-selected: #ffffff;
  --switch: #cad6d4;
  --button-background: transparent;
  --button-background-hover: var(--background-modifier-active);
  --button-background-active: #b4c4c1;
  --button-accent-hover: #2ae18e;
  --button-accent-active: #219e6f;
  --button-destructive: #fb7c7c;
  --button-destructive-hover: #ff929b;
  --button-destructive-active: #fa4a4a;
}
:root {
  --background-primary: var(--background-1);
  --background-primary-alt: var(--background-1);
  --background-secondary: var(--background-1);
  --background-secondary-alt: var(--background-1);
  --background-tertiary: var(--background-2);
  --background-accent-gradient: var(--background-2);
  --background-floating: var(--background-1);
  --background-modifier-selected: var(--accent-color);
  --text-positive: var(--text-normal);
  --interactive-selected: var(--background-primary);
  --background-modifier-accent: transparent;
  --background-message-hover: transparent;
  --interactive-normal: var(--text-normal);
  --interactive-muted: var(--text-muted);
  --channels-default: var(--text-normal);
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --control-brand-foreground: var(--accent-color);
  --info-warning-foreground: var(--accent-color);
  --channeltextarea-background: var(--background-tertiary);
  --activity-card-background: var(--background-1);
  --brand-experiment: var(--accent-color) !important;
  --deprecated-text-input-bg: var(--background-secondary);
  --button-accent: var(--accent-color);
}
