/* Green */
.theme-dark {
  --accent-color: #bbf1dd !important;
  --background-1: #151c19 !important;
  --background-2: #1b2421 !important;
  --border-color: #242f2b !important;
  --background-mentioned: #bbf1dd10 !important;
  --background-mentioned-hover: #bbf1dd15 !important;
  --background-modifier-hover: #232e2a !important;
  --background-modifier-active: #475d55 !important;
  --text-normal: var(--accent-color) !important;
  --text-muted: #6b8a7f !important;
  --text-link: #e6faf2 !important;
  --settings-icon-color: #8bb4a5 !important;
  --tab-selected: #33433d !important;
  --switch: #3b4d46 !important;
  --button-background: #27332f !important;
  --button-background-hover: #33433d !important;
  --button-background-active: #4b6159 !important;
  --button-accent-hover: #cef8e5 !important;
  --button-accent-active: #91e8c8 !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
}
.theme-light {
  --accent-color: #2ae18e !important;
  --background-1: #e5eceb !important;
  --background-2: #f6f9f9 !important;
  --border-color: transparent !important;
  --background-mentioned: #2ae18e10 !important;
  --background-mentioned-hover: #2ae18e15 !important;
  --background-modifier-hover: transparent !important;
  --background-modifier-active: #d5dedd !important;
  --text-normal: #19483e !important;
  --text-muted: #88a19c !important;
  --text-link: #219e6f !important;
  --settings-icon-color: #5a7c76 !important;
  --tab-selected: #ffffff !important;
  --switch: #cad6d4 !important;
  --button-background: var(--background-1) !important;
  --button-background-hover: var(--background-modifier-active) !important;
  --button-background-active: #b4c4c1 !important;
  --button-accent-hover: #2ae18e !important;
  --button-accent-active: #219e6f !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
}
:root {
  --background-primary: var(--background-1) !important;
  --background-primary-alt: var(--background-1) !important;
  --background-secondary: var(--background-1) !important;
  --background-secondary-alt: var(--background-1) !important;
  --background-tertiary: var(--background-2) !important;
  --background-accent-gradient: var(--background-2) !important;
  --background-floating: var(--background-1) !important;
  --background-accent: var(--background-2) !important;
  --background-modifier-selected: var(--accent-color) !important;
  --text-positive: var(--text-normal) !important;
  --interactive-selected: var(--background-primary) !important;
  --background-modifier-accent: transparent !important;
  --background-message-hover: transparent !important;
  --interactive-normal: var(--text-normal) !important;
  --interactive-muted: var(--button-background-active) !important;
  --channels-default: var(--text-muted) !important;
  --header-primary: var(--text-normal) !important;
  --header-secondary: var(--text-muted) !important;
  --control-brand-foreground: var(--accent-color) !important;
  --info-warning-foreground: var(--accent-color) !important;
  --activity-card-background: var(--background-1) !important;
  --brand-experiment: var(--accent-color) !important;
  --button-accent: var(--accent-color) !important;
  --interactive-active: var(--text-normal) !important;
  --interactive-hover: var(--interactive-normal) !important;
}
