/* Orange */
.theme-dark {
  --accent-color: #fcc8b4 !important;
  --background-1: #1e1715 !important;
  --background-2: #271e1b !important;
  --border-color: #332823 !important;
  --background-mentioned: #fcc8b410 !important;
  --background-mentioned-hover: #fcc8b415 !important;
  --background-modifier-hover: #312723 !important;
  --background-modifier-active: #624e46 !important;
  --text-normal: var(--accent-color) !important;
  --text-muted: #927367 !important;
  --text-link: #feece5 !important;
  --settings-icon-color: #bd9586 !important;
  --tab-selected: #473832 !important;
  --switch: #52403a !important;
  --button-background: #372b26 !important;
  --button-background-hover: var(--tab-selected) !important;
  --button-background-active: #675149 !important;
  --button-accent-hover: #ffd5cb !important;
  --button-accent-active: #faa483 !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
}
.theme-light {
  --accent-color: #ff8265 !important;
  --background-1: #ffffff !important;
  --background-2: #faf8f7 !important;
  --border-color: transparent !important;
  --background-mentioned: #ff826510 !important;
  --background-mentioned-hover: #ff826515 !important;
  --background-modifier-hover: transparent !important;
  --background-modifier-active: #e1dcd8 !important;
  --text-normal: #563b25 !important;
  --text-muted: #a89a8e !important;
  --text-link: #f65c21 !important;
  --settings-icon-color: #877364 !important;
  --tab-selected: #ffffff !important;
  --switch: #d8d1cc !important;
  --button-background: #eeeae7 !important;
  --button-background-hover: #e1dcd8 !important;
  --button-background-active: #c9bfb8 !important;
  --button-accent-hover: #ff8264 !important;
  --button-accent-active: var(--text-link) !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
}
:root {
  --background-primary: var(--background-1) !important;
  --background-primary-alt: var(--background-1) !important;
  --background-secondary: var(--background-1) !important;
  --background-secondary-alt: var(--background-1) !important;
  --background-tertiary: var(--background-2) !important;
  --background-accent-gradient: var(--background-2) !important;
  --background-floating: var(--background-1) !important;
  --background-accent: var(--background-2) !important;
  --background-modifier-selected: var(--accent-color) !important;
  --text-positive: var(--text-normal) !important;
  --interactive-selected: var(--background-primary) !important;
  --background-modifier-accent: transparent !important;
  --background-message-hover: transparent !important;
  --interactive-normal: var(--text-normal) !important;
  --interactive-muted: var(--button-background-active) !important;
  --channels-default: var(--text-muted) !important;
  --header-primary: var(--text-normal) !important;
  --header-secondary: var(--text-muted) !important;
  --control-brand-foreground: var(--accent-color) !important;
  --info-warning-foreground: var(--accent-color) !important;
  --activity-card-background: var(--background-1) !important;
  --brand-experiment: var(--accent-color) !important;
  --button-accent: var(--accent-color) !important;
  --interactive-active: var(--text-normal) !important;
  --interactive-hover: var(--interactive-normal) !important;
}
